[user]
	name = Mike Keefe
	email = git@mikekeefe.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINv7NORXFORqJWkfS6XjI3WnAVoV8LeRFeNojcR1uqoO

[init]
	defaultBranch = main

[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[color]
	ui = auto

[alias]
	lg = log --oneline --graph --decorate --all
	recent = branch --sort=-committerdate
	undo = reset HEAD~1 --mixed
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
