[user]
	name = Mike Keefe
	email = git@mikekeefe.com

[init]
	defaultBranch = main

[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[color]
	ui = auto

[alias]
	lg = log --oneline --graph --decorate --all
	recent = branch --sort=-committerdate
	undo = reset HEAD~1 --mixed
